.SearchEngine__container {
  width: 100%;
  display: flex;
}

.SearchEngine__input {
  background-color: white;
  border-bottom: 1px solid var(--black);
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
}

.SearchEngine__button {
  background-color: white;
  border: 1px solid var(--black);
  font-size: 1.2rem;
  width: 20%;
  cursor: pointer;
}

.SearchEngine__button:hover {
  background-color: var(--black);
  color: white;
}
